#topnav {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#topnav i {
    padding: 10px;
    text-decoration: none;
}

#topnav a {
    padding: 0px 5px 0px 5px;
}

.topright {
    margin-left: auto;
    
}

.center {
    display: flex;
    justify-content: center;
}

.center img {
    padding-top: 20%;
    width: 20%;
}
