body, html {
    height: 100vh;
}

#google {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*START TOP NAVBAR*/
#topnav {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: auto;
    height: 43px;
    overflow: hidden;
    padding: 8px 14px 8px 26px;
} 

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.text:hover {
    text-decoration: underline;
} /*Text link animations*/

.topleft {
    padding-right: 20px;
} 

#appsicon:hover, #proicon:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
} /*Icon link animations*/

#topright {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#topright a {
    font-size: 13px;
}
.toprighttext {
    padding: 0px 0px 1px 15px;
}
#righticons {
    display: flex;
    align-items: center;
    padding-left: 21px;
}
#appslink {
    padding-right: 10px;
}
#prolink {
    padding-top: 2px;
}
#appsicon {
    padding: 6px;
}
#proicon {
    padding: 1px;
} 
/*END TOP NAVBAR*/

/*START GOOGLE LOGO*/
#logocontainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    min-height: 92px;
    height: calc(100% - 556px);
    max-height: 290px;
}

#logo {
    min-height: 94px;
}

#logo img {
    width: 272px;
}
/*END GOOGLE LOGO*/


#searchcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

#searchbar {
    flex: 1;
    max-width: 492px;
    height: 42px;
    border-radius: 42px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

#searchbar:focus {
    outline: none;
}

#searchbar:hover {
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
}
